
{$DOMAIN:localhost} {  # Use env DOMAIN if available otherwise use default 'localhost'
    root * /srv

    encode gzip

    file_server {
        hide .git
    }

    log {
        output file /var/log/caddy/my-static-site.log
    }
}

